.post{
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

div::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #b8e8f1;
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
